html, body {
	padding: 0;
	margin: 0;
	top: 0;
	min-height: 100vh;
	display: block;
	position: relative;
}

body {
	background-position: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5497d+0,545bea+100 */
	background: #e5497d; /* Old browsers */
	background: -moz-linear-gradient(45deg, #e5497d 0%, #545bea 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #e5497d 0%,#545bea 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #e5497d 0%,#545bea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5497d', endColorstr='#545bea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.wrapper {
	margin: auto;
	@include box-sizing(border-box);
	padding: $spacing;
	max-width: $ultra-wide;
}

.clearfix {
	clear: both;
}

.is-hidden {
	display: none !important;
}

